.bird-card {
  box-sizing: border-box;
  border-radius: 2vw;
  height: 18vw;
  position:relative;
  background:url() 10% 10% no-repeat;
  background-size:cover;
  background-clip:content-box
}

.card-text {
  position: relative;
  top: 15vw;
  color: black;
  background: white;
}
