.binoculars {
  max-width: 10vw;
  max-height: 10vw;
  text-decoration: none;
}

.binoculars-container {
  background-color: white;
  width: 13.5vw;
  height: 13.5vw;
  border-radius: 50%;
}

.binoculars-container:hover {
  transform: scale(1.1);
  border: 2px dotted darkgreen;
}

.bird-detail-container {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.bird-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5vw;
}

.bird-detail-image {
  height: 20vw;
  border-radius: 5px;
  margin: 5px;
}

.binoc-text {
  margin-top: 0%;
  color: black;
  font-size: 2vw;
}


@media screen and (max-width: 620px) and (orientation: portrait) {
  .bird-detail-image {
    height: 35vw;
    border-radius: 5px;
    margin: 5px;
  }

  .binoculars {
    max-width: 15vw;
    max-height: 15vw;
    text-decoration: none;
  } 


  .binoculars-container {
  background-color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}
}

