.binoculars {
  max-width: 10vw;
  max-height: 10vw;
  text-decoration: none;
}

.binoculars-container {
  background-color: white;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
}

.bird-detail-container {
  display: flex;
  flex-direction: column;
}

.bird-details {
  display: flex;
  justify-content: space-evenly;
}

.bird-detail-image {
  height: 20vw;
  border-radius: 5px;
  margin: 5px;
}

.binoc-text {
  margin-top: 0%;
  color: black;
}
