.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: "Chelsea Market", cursive;
  margin: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

header {
  height: ;
}

path {
  pointer-events: all;
  fill: white;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

.goldfinch {
  background: #f8dc6c;
  color: #134a8e;
}

.bluejay {
  background: #134a8e;
  color: #f8dc6c;
}

.App-header-bluejay {
  background: #113561;
}

.App-header-goldfinch {
  background: #fac72b;
}

.burb-logo {
  height: 10vh;
}

.hidden {
  display: none;
}
