.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 5vw;
  margin: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.goldfinch {
  background: #f8dc6c;
  color: #134a8e;
}

.bluejay {
  background: #134a8e;
  color: #f8dc6c;
}

.App-header-bluejay {
  background: #113561;
}

.App-header-goldfinch {
  background: #fac72b;
}

.burb-logo {
  height: 8vh;
}

.hidden {
  display: none;
}

/* Small Tablet Styling */
@media screen and (max-width: 620px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media screen and (max-width: 1000px) {
.burb-logo {
  height: 5vw;
}
}