nav {
  font-family: "Chelsea Market", cursive;
  display: flex;
  justify-content: space-evenly;
  margin: 0px 10px 0px 10px;
}

.nav-link:hover {
  transform: scale(1.1);
}

.goldfinch {
  color:#134a8e;
}

.bluejay {
  color: #f8dc6c;;
}

.goldfinch-text {
  color:#134a8e;
  background: none;
}

.bluejay-text {
  color: #f8dc6c;
  background: none;
}
