nav {
  font-family: "Chelsea Market", cursive;
  color: #f8dc6c;
  display: flex;
  justify-content: space-evenly;
  margin: 0px 10px 0px 10px;
}

.nav-link:hover {
  color: white;
  background-color:#134a8e; 
  border-radius: 5px;
  margin: 5px 5px 5px 5px; 
}

.goldfinch {
  color:#134a8e;
}

.bluejay {
  color: #f8dc6c;;
}

